<div class="login-container d-flex align-items-center justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 offset-md-4">

        <div class="card bg-dark text-white">
          <div class="card-body">

            <!--Username-->
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                name="username"
                id="username"
                class="form-control">
            </div>

            <!--Password-->
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                name="password"
                id="password"
                class="form-control">
            </div>

            <!--Submit button-->
            <button class="btn btn-block btn-primary" routerLink="dashboard">
              Login
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="login-title">
  CASINO SIESTA<br>LOGIN
</div>
