.login-container{
  height: 100%;
  background-image: url("http://hdqwalls.com/wallpapers/andes-mountains-wallpaper.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-title {
  position: fixed;
  bottom: 20px;
  left:20px;
  font-size: 3rem;
  font-weight: bold;
  color: white;
}
